
@import "swiper/css";
@import "swiper/css/effect-coverflow";


.swiper-slide-prev {
  transform: scale(0.9) !important;
  transition: transform 0.28s ease, box-shadow 0.28s ease, opacity 0.28s ease;
}

.swiper-slide-active {
  transform: scale(1);
  transition: transform 0.28s ease, box-shadow 0.28s ease, opacity 0.28s ease;
}

.swiper-slide-next {
  transform: scale(0.9) !important;
  transition: transform 0.28s ease, box-shadow 0.28s ease, opacity 0.28s ease;
}
dialog::backdrop {
  background: rgb(0 0 0 / 0);
  transition: background 300ms ease;
}
dialog.is-open::backdrop {
  background: rgb(0 0 0 / 0.5);
}

